#Sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #242424;

    ul {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        list-style: none;
        gap: 15px;
        text-align: left;
    }
}

.shadow {
    box-shadow: black 0.2rem 0.2rem 2rem;
}